footer {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  padding: 5px 20px;
  color: #6c757d;
}

footer .left {
  display: flex;
  align-items: center;
}

.left .left-container {
  display: flex;
}

footer .left li {
  margin: 0 10px 0 0;
}
